.DeletaEssenciaModal {
    margin-top: -20px;
  }
  
  .DeletaEssenciaModal > div {
    display: flex;
    justify-content: space-around;
    position: relative;
}
  
  .DeletaEssenciaModal__foto {
    position: absolute;
    right: -5px;
    bottom: 20px;
    width: 90px;
    object-fit: cover;
  }
  
  .DeletaEssenciaModal__confirmar,
  .DeletaEssenciaModal__cancelar {
    border: none;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 45%;
    color: white;
  }
  
  .DeletaEssenciaModal__confirmar {
    background-color: #2b910c;
  }
  
  .DeletaEssenciaModal__cancelar {
    background-color: #800606;
  }

  @media (max-width: 375px) {
    div.EssenciaDetalhesModal {
      width: 260px;
    }
  }

 