.Home {
  position: relative;
  background: linear-gradient(-45deg, #FF5F00, #FF5F00, #00092C, #EEEEEE);
  background-size: 300% 200%;
  animation: colors 15s ease-in infinite;
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: black;
  box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.Home__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 375px) {
  .Home__container {
    justify-content: unset;
  }
  .Logo{
    width: 235px;
  }
}

.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 340px;
  height: 45px;
}

.Logo__titulo {
  position: absolute;
  left: 55px;
  font-family: "Exo";
  font-weight: 600;
  font-size: 2.4em;
}

.Logo__icone {
  position: absolute;
  left: -20px;
  top: -25px;
}

.Sacola {
  position: relative;
}

.Sacola__icone {
  cursor: pointer;
}

.Sacola__badge {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: white;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
}

@media (max-width: 375px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

  .Logo {
    width: 255px;
  }

  .Logo__titulo {
    font-size: 1.5em;
  }
}
